*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    display: flex;
    background: url(..//imagens/game\ 3.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.form-box{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: rgba(o, o, o, 0.274);
    backdrop-filter: blur(15px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-cadastro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(97, 102, 102, 0.196);
    align-items: center;
    justify-content: space-evenly;
}
.titulo-form{
    color: white;
    padding: 20px;
}
.input-group{
    width: 100%;
    /* background-color: rgba(0, 30, 255, 0.286); */
    display: flex;
    flex-direction: column;
    gap: 3px;
    /* align-items: center; */
}
.nome-input{
    font-size: 16px;
    color: hsl(0, 100%, 99%);
    font-weight: 600;
    display: flex;
    margin-left: 10%;

}
.input-group input{
    width: 70%;
    height: 30px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.586);
    border: 2px solid transparent;
    outline: none;
    font-size: 16px;
    padding: 10px;
    transition: all 0.4s ease;
    margin: auto;
}
.input-group input::placeholder{
    color: rgba(0, 0, 0, 0.429);
    font-size: 13px;
}
.group-button{
    width: 80%;
    display: flex;
    /* background-color: rgb(181, 114, 32); */
    justify-content: space-evenly;
}
.btn-form{
    width: 30%;
    height: 30px;
    border-radius: 8px;
    outline: none;
    border: none;
}
.btn-cancelar{
    background-color: rgba(232, 57, 57, 0.73);
    color: white;
}
.btn-cancelar:hover{
    background-color: red;
    color: white;
}
.btn-cadastrar{
    background-color: rgb(14, 143, 100);
    color: black;
}
.btn-cadastrar:hover{
    background-color: rgb(31, 208, 149);
    color: white;
}
.img-box img{
    width: 50%;
}